body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-size: 2.5rem;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}

nav {
    width: 80%;
    margin: 0 auto;
    border-top: 2px solid #d6bebe;
    border-bottom: 2px solid #d6bebe;
    padding: 15px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: darkred;
    font-weight: bold;
    font-size: 1.3rem;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 80%;
}

main {
    width: 70%;
}

.sidebar {
    width: 25%;
    border: 1px solid #ccc;
    padding: 10px;
}

.book-entry {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 25px 0;
}

.book-meta {
    width: 20%;
    font-size: 16px;
    color: #555;
    text-align: right;
    line-height: 1.4;
    border-right: 2px solid #d6bebe;
    padding-right: 10px;
    margin-right: 10px;
}

.book-details {
    width: 75%;
}

.book-title {
    font-size: 20px;
    font-weight: bold;
    color: darkred;
    margin-top: 0;
}

.book-image {
    display: block;
    max-width: 120px;
    margin: 10px auto 0;
}

.rating {
    color: gold;
}
